@media  screen and (max-width: 600px) {

  .nav-container{
    display: flex;
    flex-direction: column;
  }
  .name-container{
    flex-direction: column;
    width: 100%;
  }
  .items-container{
    /* display: flex; */
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    /* justify-content: center;
    align-items: center; */
  }
.banner-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
  background-size: cover;
  background-repeat: no repeat;
  margin-left: 100px;
}
.banner-title{
width: auto;
font-size: 20px;
}
.content{
  max-width: 500px;
  /* display: flex; */
  flex-direction: column;
  padding-bottom: 300px;
 
}
.content-title{
  /* padding-bottom: 300px; */
  margin-top: 100px;
 
}
.gallery-container{
  display: flex;
  flex-direction: column;
max-width: 500px;
margin-top: 100px;
}
.gallery-title{
  margin-top: 450px;
}
.first-column{
  flex-direction: column;
  margin-top: 100px;

}
.second-column{
  flex-direction: column;
  margin-top: 100px;
}
.third-column{
  flex-direction: column;
  margin-top: 100px;
}
.card-section1{
  flex-direction: column;
  padding-bottom: 100px;
}
.card1{
  width: 80vw;
}
.card2{
  width: 80vw;
}
.second-card-container{
  width: 80vw;
  text-align: start;
  height: 100vh;

 }
 .subscribe{
  flex-direction: column;
  max-width: 300px;

 }
 .signup-section{
  order: 2;
  width: 100vw;
  height: auto;
 }
 .discount-section{
  width: 100vw;
  height:50%;
  order: 1;
  
 }
 .image1{
  width: 100vw;
height: 200px;
 }
 .image2{
  width: 100vw;
  height: 200px;
 }
 .image3{
  width: 100vw;
  height: 200px;
 }
 .image4{
  width: 100vw;
  height: 200px;
 }
 .image5{
  width: 100vw;
  height: 200px;
 }
 .image6{
  width: 100vw;
  height: 200px;
 }
 .image7{
  width: 100vw;
  height: 200px;
 }

 
}

