@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body{
  font-family: 'Mulish', sans-serif;
}
/* nav styles */
.nav-container{
 
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

.name-container{

  display: flex;
 min-height: 150px;
 align-items: center;
 width: 50%;
 justify-content: start ;
 gap: 15px;


}
.name-container img{
  width: 80px;
  height: 80px;
}
.name-container h3{
  font-size: 40px;
  font-weight: 800;
}
.priority{
  color: #FF5400;;
}
.items-container{

  width: 50%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  

}
.items-container a{
  text-decoration: none;
  font-size: 20px;
}
.items-container .home{
  color: #FF5400;

}
/* banner section */

.banner-container{
 

   max-width: 1600px;

  margin: 0 auto;
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ .png);
  height: 700px;
 
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  text-align: center;
}

.banner-title{
  color: white;
  padding-top: 300px;
}
.banner-title h3{
  font-size: 64px;
}
.banner-title p{
  font-size: 24px;

}
.banner-selector .box{
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
}
 .banner-selector{
  background-color: rgba(255, 255, 255, 0.30);
  margin: 0 430px;
  height: 50px;
  padding-top: 10px;
  border-radius: 10px;
 }




/* nav finished */

.banner-container{
  width: 100%;
  height: 800px;
}
.banner-container .find{
  background-color: #FF5400;
  color: white;
  padding: 15px 35px;
  border-radius: 10px;}

/* popular section start here */

.content{

  max-width: 1600px;
  height: 600px;
  margin: 80px auto 0px auto;
  display: flex;
  justify-content: space-between;

}
.content-title{

  width: 45%;
  height: 100%;
  line-height: 40px;
}
.content-image{

  width: 45%;
  height: 100%;
}
.content-title h2{
  font-size: 48px;
}
.content-title p{
  font-size: 24px;
  color: rgba(19, 19, 24, 0.70);
}
.content-title .read{
  background-color: #FF5400;
  color: white;
  padding: 15px 35px;
  border-radius: 10px;
}
.content-image img{
  width: 100%;
  height: 100%;
 
}
/* gallery section */

.gallery-container{
  margin-top: 130px;
  max-width: 1600px;
  margin: 0 auto;
}
.gallery-title{
  margin-top: 60px;
 
  text-align: center;}

  .first-column{
    margin-top: 50px;

    height: 300px;
    display: flex;
    gap: 15px;
  }
  .image1{
  
    width: 50%;
  }
  .image2{
  
    width: 50%;
  }
  .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .second-column{
   display: flex;
   justify-content: space-evenly;
   height: 300px;
   gap: 15px;
   margin-top: 15px;

    
  }
  .image3 {
  
    width: 30%;
  }
  .image4 {

    width: 40%;
  }
  .image5 {

    width: 30%;
  }
  .image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .image4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .image5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
 .third-column{
   height: 300px;

  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 15px;

 }
 .image6{
  width: 50%;
 
 }
 .image7{
  width: 50%;
 }
 .image6 img{
  width: 100%;
  height: 100%;
 }
 .image7 img{
  width: 100%;
  height: 100%;
 }
 /* gallery section finished here */